body {
  margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
  color: ;
}

.sector-1 {
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
}

.header {
  display: flex;
  justify-content: space-between;
}

/* add display: flex; & flex-direction: column; to container (when all sectors are finished) */
.container